{"configSettings":[{"appID":"SharedServerToken","serverToken":"U44J7RKZ6EDYVA5DPMFXEPFMZ3LBY2Q7"},{"appID":"1451303343360376","serverToken":"O6E3FK2VK437RRRA3V5OXFZYJXPN2BJX"},{"appID":"1064813926481803","serverToken":"D6INDSWSSITQNEGF3TUD2GCMW5YDNSFI"},{"appID":"2160217854907882","serverToken":"U44J7RKZ6EDYVA5DPMFXEPFMZ3LBY2Q7"}]}